@import url('https://fonts.googleapis.com/css?family=Italianno');

.App {
  height: 100vh;
  width: 100vw;
  background-image: lightgrey;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.header span {
  margin: 1em;
}

.home {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
  position: relative;
}

#michele {
  height: 90%;
  width: 35%;
  margin: 1em;
}

#boyd {
  height: 90%;
  width: 35%;
  margin: 1em;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-michele {
  text-align: right;
}

.about-boyd {
  text-align: left;
}

.photos {
  padding: 1em;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact input {
  height: 10%;
  width: 30%;
}

.fade-michele {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  left: 19vw;
  font-family: 'Italianno', cursive;
  color: white;
  font-size: 2.5em;
}

.fade-boyd {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  right: 21vw;
  font-family: 'Italianno', cursive;
  color: white;
  font-size: 2.5em;
}
