@import url('https://fonts.googleapis.com/css?family=Italianno');

.App {
  height: 110vh;
  width: 100vw;
  background-image: url('./images/box-office-module_1_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.header span {
  z-index: 2;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
  font-size: 1.3em;
}

.home {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
  position: relative;
  height: 90vh;
}

#michele {
  height: 100%;
  width: 35%;
  margin-right: 1em;
}

#boyd {
  height: 100%;
  width: 35%;
  margin-left: 1em;
}

.about {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 2em;
}

.about-michele {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.about-boyd {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.about-text {
  height: 100%;
  width: 70%;
}

.boyd-image {
  height: 100%;
  width: 27%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.michele-image {
  height: 100%;
  width: 27%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boyd-image img {
  height: 100%;
  width: 70%;
}

.michele-image img {
  height: 100%;
  width: 70%;
}

.photos {
  padding: 1em;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact input {
  height: 10%;
  width: 30%;
}

.basic-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  margin: 1em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.fade-michele {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  left: 19vw;
  font-family: 'Italianno', cursive;
  color: white;
  font-size: 2.5em;
}

.fade-soprano {
  position: absolute;
  z-index: 2;
  bottom: 0em;
  left: 19vw;
  font-family: 'Italianno', cursive;
  color: white;
  font-size: 2em;
}

.fade-baritone {
  position: absolute;
  z-index: 2;
  bottom: 0em;
  right: 21vw;
  font-family: 'Italianno', cursive;
  color: white;
  font-size: 2em;
}

.fade-boyd {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  right: 21vw;
  font-family: 'Italianno', cursive;
  color: white;
  font-size: 2.5em;
}

.social {
  display: flex;
  justify-content: center;
  height: 5vh;
}

.social img {
  margin: .5em;
}
