.App {
  height: 100vh;
  width: 100vw;
  background-image: lightgrey;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.header span {
  margin: 1em;
}

.home {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
}

#michele {
  height: 90%;
  width: 35%;
  margin: 1em;
}

#boyd {
  height: 90%;
  width: 35%;
  margin: 1em;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-michele {
  text-align: right;
}

.about-boyd {
  text-align: left;
}
